---
layout: base
title: Personal website
excerpt: My personal corner in the web
src: assets/images/me.jpeg
---

{%- if site.author.type == 'organization' -%}
  {%- assign _author_itemtype = 'http://schema.org/Organization' -%}
{%- else -%}
  {%- assign _author_itemtype = 'http://schema.org/Person' -%}
{%- endif -%}

<div itemscope itemtype="{{ _author_itemtype }}" class="layout--author">
  <div class="main">
    <div class="content">
      <div class="author-avatar">
        <img itemprop="image" alt="me" src="assets/images/me.jpeg" />
      </div>
      <h1 itemprop="name" class="title-text">{{ site.author.name }}</h1>
      {% include author-links.html author=site.author %}
      <p><a itemprop="url" class="social-link blog" title="Have a look at my projects" href="https://ai4climate.science/Projects/Projects" target="_self">Projects/Research</a></p>
      <p><a itemprop="url" class="social-link blog" title="My notes" href="https://ai4climate.science" target="_self">🌱AI4Climate.science</a></p>
    </div>
  </div>
</div>
<script>{%- include scripts/common.js -%}</script>
{% include analytics.html %}
